@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Rubik:ital,wght@0,300;0,400;1,300;1,500&display=swap');

/*
    font-family: 'Nerko One', cursive;
    font-family: 'Rubik', sans-serif;
*/
html {
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
    background-color: #00539F;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
h1 {
    font-size: 60px;
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    padding: 0 20px 20px 20px;
}
p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
#manifest {
    text-decoration: none;
    color: #00539F;
    font-weight: bolder;
}

#manifest:hover {
    color: #000;
    transition: 2s, 1s;
}

img {
    display: block;
    margin: 0 auto;
    width: 250px;
    background-color: #FF9500;
}

button {
    font-family: 'Nerko One', cursive;
    background-color: #00539F;
    width: 50%;
    padding: 20px;
    font-size: 2.5rem;
    border: none;
    color: white;
    box-shadow: 2px 2px 2px #000;
    cursor: pointer;
}

button:hover {
    background-color: #000;
    transition: 0.2s, 0.5s;
    color: #00539F;
}